@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

/* Global Styling */
:root {
  --primary-color: #0d47a1;
  --secondary-color: #cce0ff;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #ffffff;
  --dark-color: #343a40;
}

body {
  background-color: var(--light-color);
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.standar-waktu {
  font-size: 0.8rem;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.section-title {
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: 2rem;
  text-align: center;
}

/* navbar */
.standar-waktu {
  background-color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  color: yellow;
}

.text-logo {
  font-size: 1.2rem;
  color: var(--light-color);
}

.nav-link {
  font-size: 1rem;
  color: var(--light-color) !important;
}
.dropdown-item {
  border-radius: 0;
  color: var(--primary-color);
}

.nav-item:hover,
.dropdown-item:hover {
  color: var(--primary-color);
  transition: color 0.3s ease;
  font-weight: bold;
}

/* card */
.card {
  border: 1px solid var(--dark-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  padding: 5px;
  background-color: var(--light-color);
}

.card-footer {
  background-color: var(--secondary-color);
  font-size: 0.9rem;
  text-align: center;
}

/* footer */
.footer-custom {
  background-color: var(--secondary-color);
  /* Biru muda untuk footer */
  color: #333;
}

.footer-custom a {
  color: #333;
  text-decoration: none;
}

.footer-custom a:hover {
  text-decoration: underline;
}

.sub-footer {
  background-color: var(--primary-color);
}

/* carousel */
.carousel-caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 70vh;
}

.carousel-item img {
  object-fit: cover; /* atau 'contain' kalau mau seluruh gambar kelihatan */
}
